body
{
background-color: rgba(128,128,128);
font-size: 16px
padding: 0px;
margin: 0px;
border: none;
}

h1
{
font-size: 25px;
text-decoration: none;
color: black;
text-align: left;
}

h2
{
font-size: 30px;
text-decoration: none;
color: black;
text-align: left;
}

table
{
margin: auto	
}

td
{
position: middle;
height: auto;
width: auto;
float: left;
padding: 10px;
margin: 10px;
background-color: gray;
opacity: 100%;
}

li
{
list-style-type: disc;
list-style-position: inside;
}